html, body {
    height: 100%;
}

.utilizeFullHeight{
	height: 100%;
}

.setHeightHeader{
	height: 8%;
}

.setHeightGraph{
	height:88%;
}

.utilizeHalfHeight{
  height: 50%;
  padding-left: 16%
}

.title{
	height:20%;
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
}
